

.account-summary-hr {
    border: 3px solid #cdc2db;
    margin: 5px 0 15px 0;
}

.group-name-counts {
    display: flex;
    color: black;
    font-size: small;
}

.group-name-title {
    color: #cdc2db;
}

.drivers-count, .children-count, .parents-count {
    margin: 0 8px;
}

.group-name-container {
    padding-bottom: 20px;
    cursor: pointer;
}

.group-name-title, .account-summary-title {
    font-weight: 500;
}