header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.main-header {
    color: white;
    background-color: #6d4c96;
    padding: 10px;
    display: flex;
    justify-content: center;
    min-height: 50px;
}

.sub-header {
    color: black;
    background-color: #f3f3f3;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sub-header a {
    border: 1px;
    border-radius: 15px;
    color: black;
    background-color: white;
    margin-right: 30px;
    text-decoration: none;
    padding: 10px;
}

.header-title {
    margin-right: 30px;
    font-size: 20px;
}
.header-login-as {
    margin: 0 40px;
    font-size: 12px;
    align-self: center;
}
.header-manage-acc {
    margin-left: 40px;
    font-size: 12px;
    align-self: center;
    cursor: pointer;
    text-decoration-line: underline;
}
