.forgot-password-response-msg {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 700px;
    padding: 20px;
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    display: block;
    clear: both;
}

.forgot-password-response-msg button {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    color: #f2f2f2;
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6d4c96;
    text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 329px) {
    .forgot-password-response-msg button {
        width: 200px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 399px) {
    .forgot-password-response-msg button {
        width: 250px;
    }
}