.forgot-password-container {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 700px;
    padding: 20px;
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.forgot-password-email-field, .forgot-password-container button {
    border: 1px;
    border-radius: 15px;
    padding: 8px;
    width: 300px;
    color: #6d4c96;
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    text-align: center;
}

.forgot-password-email-field {
    outline: none;
}

.forgot-password-container button {
    color: white;
    background-color: #6d4c96;
}

input::placeholder {
    color: #6d4c96;
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6d4c96;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6d4c96;
}

@media only screen and (min-width: 280px) and (max-width: 329px) {
    .forgot-password-email-field, .forgot-password-container button {
        width: 200px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 399px) {
    .forgot-password-email-field, .forgot-password-container button {
        width: 250px;
    }
}