.school-admin-portal {
    border: 1px solid #dad1d1;
    border-radius: 10px;
    color: #6d4c96;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    padding: 70px 0;
}

.admin-portal-title {
    font-size: 50px;
}

.admin-portal-sub-title {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.school-admin-portal .email-field, .school-admin-portal .password-field {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    color: #6d4c96;
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    text-align: center;
    outline: none;
}

.school-admin-portal .password-field {
    margin-top: 20px !important;
}

.school-admin-portal .sign-btns {
    margin-top: 20px;
    margin-bottom: 15px;
}

.school-admin-portal .sign-btns button {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 140px;
    color: white;
}

.school-admin-portal .sign-btns button:first-child {
    background-color: #e0b724;
    margin-right: 10px;
}

.school-admin-portal .sign-btns button:last-child {
    background-color: #6d4c96;
}

.school-admin-portal .admin-portal-container a {
    text-decoration: none;
    color: #6d4c96;
    font-weight: bold;
}

.new-acc-pending {
    margin-top: 30px;
}

input::placeholder {
    color: #6d4c96;
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6d4c96;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6d4c96;
}

@media only screen and (min-width: 280px) and (max-width: 399px) {
    .school-admin-portal {
        padding: 30px 20px 30px 20px;
        margin: 50px 0 100px 0;
    }
    .school-admin-portal .admin-portal-title {
        font-size: 30px;
    }
    .school-admin-portal .admin-portal-sub-title {
        font-size: 11px;
    }
    .school-admin-portal .sign-btns button {
        width: 50%;
    }
    .school-admin-portal .sign-btns button:first-child {
        margin: 10px auto;
        display: block;
    }
    .school-admin-portal .email-field, .school-admin-portal .password-field {
        width: 80%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .school-admin-portal {
        padding: 30px 20px 30px 20px;
        margin: 50px 0 100px 0;
    }
    .school-admin-portal .admin-portal-title {
        font-size: 30px;
    }
    .school-admin-portal .admin-portal-sub-title {
        font-size: 11px;
    }
    .school-admin-portal .sign-btns button {
        width: 140px;
    }
    .school-admin-portal .email-field, .school-admin-portal .password-field {
        width: 300px;
    }
}