.ride-container {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 700px;
    margin-top: 9%;
    padding: 20px;
    width: 85%;
    font-size: 18px;
}

.ride-title {
    color: red;
    margin-bottom: 20px;
}

.parent-driver-info, .ride-recent-history {
    display: flex;
}

.ride-recent-history {
    padding-bottom: 100px;
}

.parent-driver-info img, .parent-driver-child-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px;
}

.upcoming-date-time {
    font-weight: 500;
    color: black;
}

.parent-driver-details, .parent-driver-child-details {
    align-self: center;
}

.down-arrow-symbol {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #cdc2db;
}

.parent-driver-child-info-ctn {
    border-left: 3px solid #cdc2db;
    margin: 5px 0px 0px 8px;
}

.assigned-children-title-container, .parent-driver-child-info {
    display: flex;
}

.assigned-children-title-container {
    margin-top: 20px;
}

.assigned-children {
    margin: 0 40px 30px;
}

.upcoming-rides-end-hr {
    border-top: 1px solid #c5baba;
    margin-bottom: 15px;
}

.assigned-children-title {
    margin-left: 15px;
    margin-top: -5px;
    font-weight: 500;
    font-size: 15px;
}

.new-acc-pending-info .upcoming-rides-info .acc-status {
    border: 1px;
    border-radius: 10px;
    padding: 2px;
    width: 170px;
    color: white;
    background-color: #e0b724;
    margin: 10px 0px 20px 25px;
}

.parent-driver-status, .parent-driver-child-status {
    color: black;
    font-size: small;
}

.view-profile-btn, .send-email-btn {
    width: 150px !important;
    padding: 0px !important;
    margin: 10px 20px 10px 0px !important;
    border: 1px solid #898989 !important;
    border-radius: 8px !important;
    background-color: #efefef !important;
    color: #505050 !important;
}

@media only screen and (min-width: 280px) and (max-width: 424px) {
    .new-acc-pending-info .upcoming-rides-info .assigned-children {
        margin: unset;
    }
    .view-profile-btn, .send-email-btn {
        margin: 10px 10px 0px 10px !important;
    }
    .new-acc-pending-info .upcoming-rides-info .parent-driver-info {
        text-align: center;
    }
}