.recent-history-container {
    border-radius: 10px;
    color: black;
    margin-top: 10%;
    background-color: #f8f8f8;
    font-size: 14px;
}

.recent-history-container p {
    margin: 0;
}

.recent-history-hr {
    border: 1px solid #a3a3a3;
    margin: 5px 0 30px 0;
}

.recent-history-title {
    background-color: #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recent-history-info {
    padding: 15px;
}