.pcp-capsule img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px 20px 20px 0px;
    align-self: center;
}

.pcp-capsule .pcp-user-name {
    color: #6d4c96;
    font-weight: bold;
    display: block;
}

.pcp-capsule .pcp-user-type {
    color: #686868;
}

.pcp-capsule .pcp-user-info, .pcp-capsule .pcp-user-btn-ctrls {
    display: flex;
}

.pcp-capsule .pcp-user-btn-ctrls button {
    color: #505050 !important;
    width: 150px !important;
    padding: 0px !important;
    margin: 10px 20px 10px 0px !important;
    border: 1px solid #898989 !important;
    border-radius: 8px !important;
    background-color: #efefef !important;
}

@media only screen and (max-width: 300px) {
    .pcp-capsule .pcp-user-info, .pcp-capsule .pcp-user-btn-ctrls {
        display: block;
        text-align: center;
    }
    .pcp-capsule .pcp-user-btn-ctrls button {
        margin: 10px !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
    .pcp-capsule .pcp-user-btn-ctrls {
        display: block;
    }
}