body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::placeholder, .school-admin-portal form .custom-dropdown #react-select-2-placeholder, .school-admin-portal form .custom-dropdown #react-select-3-placeholder {
    color: #6d4c96 !important;
    opacity: 1 !important;
    font-weight: 500 !important;
    /* Firefox */
}

input:-ms-input-placeholder, .school-admin-portal form .custom-dropdown #react-select-2-placeholder, .school-admin-portal form .custom-dropdown #react-select-3-placeholder {
    /* Internet Explorer 10-11 */
    color: #6d4c96 !important;
    font-weight: 500 !important;
}

input::-ms-input-placeholder, .school-admin-portal form .custom-dropdown #react-select-2-placeholder, .school-admin-portal form .custom-dropdown #react-select-3-placeholder {
    /* Microsoft Edge */
    color: #6d4c96 !important;
    font-weight: 500 !important;
}

.container-recent-history-div {
    padding-bottom: 150px;
    margin-top: 160px !important;
    margin: auto;
    max-width: 85%;
    padding-left: 15px;
    padding-right: 15px;
}

.capsule {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    padding: 20px;
    font-size: 18px;
    padding-bottom: 100px;
    margin-left: 25px;
}

.title-color {
    color: #cf4a79;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff !important;
}

.warn-msg {
    color: red;
    text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    .capsule {
        margin-left: 0px;
    }
}

/*View profile*/

.parent-profile {
    color: #5e5e5e;
    padding: 30px;
}

.parent-profile .parent-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
}

.parent-profile .parent-profile-pic {
    padding: 0px 0px 30px 20px;
}

.parent-profile-pic button {
    border: 1px solid #5e5e5e !important;
    border-radius: 8px;
    font-weight: bold;
    background-color: #efefef !important;
    color: black !important;
}

.parent-profile-pic .btn:disabled, .driver-status-btn-ctrls .btn:disabled {
    opacity: unset !important;
}

.parent-profile input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.parent-profile input::placeholder {
    color: #5e5e5e;
    opacity: 1;
    /* Firefox */
}

.parent-profile input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #5e5e5e;
}

.parent-profile input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #5e5e5e;
}

.parent-profile .driver-status {
    display: flex;
    padding-bottom: 20px;
    align-items: flex-end;
}

.parent-profile .driver-status .active-btn, .driver-status .non-active-btn {
    border: 1px solid #5e5e5e;
    border-radius: 8px;
    color: white;
    background-color: #22d500;
}

.parent-profile .driver-status .active-btn {
    margin-right: 70px;
}

.parent-profile .driver-status .non-active-btn {
    width: 150px;
    background-color: #d55500;
}

.parent-profile .driver-status .driver-status-title {
    margin-right: 30px;
}

.parent-profile .driver-status .driver-status-note {
    color: red;
    display: block;
    padding-bottom: 10px;
}

.parent-profile .driver-status .non-driver {
    margin-top: -35px;
}

.parent-profile .parent-email {
    padding-bottom: 30px;
}

.parent-profile .parent-info-title {
    color: #6d4c96;
    font-weight: bold;
    border-bottom: 2px solid;
    font-size: 20px;
    padding-bottom: 5px;
}

.parent-profile .parent-info form {
    padding-top: 15px;
}

.parent-profile .view-drivers-license-btn, .parent-profile .registered-vehicles-container .view-vehicle-registration-btn, .parent-profile .registered-vehicles-container .view-vehicle-inspection-report-btn {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: 3px solid #a08ef0;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
}

.registered-vehicles-container .registered-vehicles-title {
    color: #cf4a79;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    font-weight: bold;
}

.parent-profile .view-vehicle-registration-btn {
    display: block;
}

.parent-profile .registered-vehicles-container .registered-vehicles-nav {
    display: flex;
    padding: 25px 0;
}

.parent-profile .btn-primary:hover {
    color: #6d4c96 !important;
    background-color: #efeeff !important;
    border-color: #efeeff !important;
}

.parent-profile .registered-vehicles-current-index {
    padding: 0 30px;
    align-self: center;
    font-weight: bold;
}

.parent-profile .registered-vehicles-left-arrow, .parent-profile .registered-vehicles-right-arrow {
    border: 1px;
    border-radius: 50%;
    background-color: #efeeff;
    color: #6d4c96;
    font-weight: 800;
}

.parent-profile .registered-vehicles-form .form-input-width {
    display: block;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
    max-width: 350px;
}

@media only screen and (min-width: 280px) and (max-width: 300px) {
    .parent-driver-info, .ride-recent-history {
        display: block !important;
    }
}

.parent-profile .driver-status-btn-ctrls {
    display: flex;
    align-items: flex-end;
}

@media only screen and (min-width: 280px) and (max-width: 379px) {
    .parent-profile .driver-status, .parent-profile .driver-status-btn-ctrls {
        display: block;
    }
    .parent-profile .driver-status .non-driver {
        margin-top: unset;
    }
    .parent-profile .driver-status .active-btn {
        margin-bottom: 20px;
    }
    .parent-profile .registered-vehicles-current-index {
        padding: 0 8px;
        font-size: 12px;
    }
    .parent-profile .parent-email {
        word-break: break-word;
    }
}

@media only screen and (min-width: 380px) and (max-width: 500px) {
    .parent-profile .driver-status {
        display: block;
    }
    .parent-profile .driver-status .non-driver {
        margin-top: unset;
    }
    .parent-profile .registered-vehicles-current-index {
        padding: 0 8px;
        font-size: 15px;
    }
    .parent-profile .parent-email {
        word-break: break-word;
    }
}

@media only screen and (max-height: 400px) {
    .sub-header {
        max-height: calc(100vh - 108px);
        overflow: auto;
        height: 100%;
    }
}

/*UserDetails*/

.ride-container {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 700px;
    margin-top: 9%;
    padding: 20px;
    width: 85%;
    font-size: 18px;
}

.ride-title {
    color: red;
    margin-bottom: 20px;
}

.parent-driver-info, .ride-recent-history {
    display: flex;
}

.ride-recent-history {
    padding-bottom: 100px;
}

.parent-driver-info img, .parent-driver-child-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px;
}

.upcoming-date-time {
    font-weight: 500;
    color: black;
}

.parent-driver-details, .parent-driver-child-details {
    align-self: center;
}

.down-arrow-symbol {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #cdc2db;
}

.parent-driver-child-info-ctn {
    border-left: 3px solid #cdc2db;
    margin: 5px 0px 0px 8px;
}

.assigned-children-title-container, .parent-driver-child-info {
    display: flex;
}

.assigned-children-title-container {
    margin-top: 20px;
}

.assigned-children {
    margin: 0 40px 30px;
}

.upcoming-rides-end-hr {
    border-top: 1px solid #c5baba;
    margin: 15px 0;
}

.assigned-children-title {
    margin-left: 15px;
    margin-top: -5px;
    font-weight: 500;
    font-size: 15px;
}

.new-acc-pending-info .upcoming-rides-info .acc-status {
    border: 1px;
    border-radius: 10px;
    padding: 2px;
    width: 170px;
    color: white;
    background-color: #e0b724;
    margin: 10px 0px 20px 25px;
}

.parent-driver-status, .parent-driver-child-status {
    color: black;
    font-size: small;
}

.view-profile-btn, .send-email-btn {
    width: 140px !important;
    padding: 0px !important;
    margin: 10px 20px 10px 0px !important;
    border: 1px solid #898989 !important;
    border-radius: 8px !important;
    background-color: #efefef !important;
    color: #505050 !important;
}

@media only screen and (min-width: 280px) and (max-width: 330px) {
    .new-acc-pending-info .upcoming-rides-info .parent-driver-details {
        margin-left: -20px !important;
    }
}

@media only screen and (min-width: 280px) and (max-width: 424px) {
    .new-acc-pending-info .upcoming-rides-info .assigned-children {
        margin: unset;
    }
    .view-profile-btn, .send-email-btn {
        margin: 10px 10px 0px 10px !important;
    }
    .new-acc-pending-info .upcoming-rides-info .parent-driver-info {
        text-align: center;
    }
}

/*Support*/

.contact-support {
    color: black;
}

.contact-support .form-input-width {
    max-width: 300px;
}

.contact-support .form-textarea-width {
    max-width: 450px;
}

.contact-support .form-input-width input, .contact-support .form-textarea-width textarea {
    border-radius: 10px;
}

.contact-support button[type="submit"] {
    color: white;
    background-color: #6d4c96;
    border-radius: 15px;
    width: 150px;
}

/*SignIn*/

.school-admin-portal {
    border: 1px solid #dad1d1;
    border-radius: 10px;
    color: #6d4c96;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    padding: 70px 0;
    margin-bottom: 150px;
}

.admin-portal-title {
    font-size: 50px;
}

.admin-portal-sub-title {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.school-admin-portal .email-field, .school-admin-portal .password-field {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    color: #6d4c96;
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    text-align: center;
    outline: none;
}

.school-admin-portal .password-field {
    margin-top: 20px !important;
}

.school-admin-portal .sign-btns {
    margin-top: 20px;
    margin-bottom: 15px;
}

.school-admin-portal .sign-btns button {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 140px;
    color: white;
}

.school-admin-portal .sign-btns button:first-child {
    background-color: #e0b724;
    margin-right: 10px;
}

.school-admin-portal .sign-btns button:last-child {
    background-color: #6d4c96;
}

.school-admin-portal .admin-portal-container a {
    text-decoration: none;
    color: #6d4c96;
    font-weight: bold;
}

.new-acc-pending {
    margin-top: 30px;
}

@media only screen and (min-width: 280px) and (max-width: 399px) {
    .school-admin-portal {
        padding: 30px 20px 30px 20px;
        /* margin: 50px 0 100px 0; */
    }
    .school-admin-portal .admin-portal-title {
        font-size: 30px;
    }
    .school-admin-portal .admin-portal-sub-title {
        font-size: 11px;
    }
    .school-admin-portal .sign-btns button {
        width: 50%;
    }
    .school-admin-portal .sign-btns button:first-child {
        margin: 10px auto;
        display: block;
    }
    .school-admin-portal .email-field, .school-admin-portal .password-field {
        width: 80%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .school-admin-portal {
        padding: 30px 20px 30px 20px;
        /* margin: 50px 0 100px 0; */
    }
    .school-admin-portal .admin-portal-title {
        font-size: 30px;
    }
    .school-admin-portal .admin-portal-sub-title {
        font-size: 11px;
    }
    .school-admin-portal .sign-btns button {
        width: 140px;
    }
    .school-admin-portal .email-field, .school-admin-portal .password-field {
        width: 300px;
    }
}

@media only screen and (max-width: 1220px) {
    .school-admin-portal {
        padding: 30px 20px 30px 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

/*Ride schedule*/

.ride-container {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 700px;
    margin-top: 9%;
    padding: 20px;
    width: 85%;
    font-size: 18px;
}

.ride-title {
    color: red;
    margin-bottom: 20px;
}

.parent-driver-info, .ride-recent-history {
    display: flex;
}

.ride-recent-history {
    padding-bottom: 100px;
}

.upcoming-date-time {
    font-weight: 500;
    color: black;
}

.parent-driver-details {
    align-self: center;
}

.down-arrow-symbol {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #cdc2db;
}

.parent-driver-child-info-ctn {
    border-left: 3px solid #cdc2db;
    margin: 5px 0px 0px 8px;
}

/*Recent History*/

.recent-history-container {
    border-radius: 10px;
    color: black;
    background-color: #f8f8f8;
    font-size: 14px;
}

.recent-history-container p {
    margin: 0;
}

.recent-history-title {
    background-color: #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #808080;
    font-weight: bold;
}

.recent-history-info {
    padding: 15px;
}

.recent-history-status-info {
    border-bottom: 2px solid #a3a3a3;
    margin: 0px 0 30px 0;
    padding: 0px 0 10px 0;
}

/*ParentandchildrenProfiles */

.pcp-capsule img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px 20px 20px 0px;
    align-self: center;
}

.pcp-capsule .pcp-user-name {
    color: #6d4c96;
    font-weight: bold;
    display: block;
}

.pcp-capsule .pcp-user-type {
    color: #686868;
}

.pcp-capsule .pcp-user-info, .pcp-capsule .pcp-user-btn-ctrls {
    display: flex;
}

.pcp-capsule .pcp-user-btn-ctrls button {
    color: #505050 !important;
    width: 150px !important;
    padding: 0px !important;
    margin: 10px 20px 10px 0px !important;
    border: 1px solid #898989 !important;
    border-radius: 8px !important;
    background-color: #efefef !important;
}

@media only screen and (max-width: 300px) {
    .pcp-capsule .pcp-user-info, .pcp-capsule .pcp-user-btn-ctrls {
        display: block;
        text-align: center;
    }
    .pcp-capsule .pcp-user-btn-ctrls button {
        margin: 10px !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
    .pcp-capsule .pcp-user-btn-ctrls {
        display: block;
    }
}

/*Header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

.main-header {
    color: white !important;
    background-color: #6d4c96 !important;
    display: flex;
    justify-content: center;
    min-height: 50px;
    width: 100%;
}

.sub-header {
    color: black !important;
    background-color: #f3f3f3 !important;
    width: 100%;
}

.sub-header a {
    border: 1px;
    border-radius: 15px;
    color: black !important;
    background-color: white !important;
    text-decoration: none;
    padding: 5px 30px 5px 30px !important;
    margin: 5px;
    text-align: center;
}

.header-title {
    font-size: 20px;
}

.header-login-as {
    font-size: 12px;
    align-self: center;
}

.header-manage-acc {
    font-size: 12px;
    align-self: center;
    cursor: pointer;
    text-decoration-line: underline;
}

.main-header .navbar-toggler, .main-header .navbar-toggler span {
    background-color: white !important;
}

@media only screen and (min-width: 992px) {
    .container {
        width: unset !important;
    }
}

header .main-header .log-out {
    padding-left: 20px;
    cursor: pointer;
    text-decoration: underline;
}

/*ForgotpasswordResponse*/

.forgot-password-response-msg {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 1200px;
    padding: 20px;
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    display: block;
    clear: both;
}

.forgot-password-response-msg button {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    color: #f2f2f2;
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6d4c96;
    text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 329px) {
    .forgot-password-response-msg button {
        width: 200px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 399px) {
    .forgot-password-response-msg button {
        width: 250px;
    }
}

/*Forgotpassword*/

.forgot-password-container {
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 1200px;
    padding: 20px;
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.forgot-password-email-field, .forgot-password-container button {
    border: 1px;
    border-radius: 15px;
    padding: 8px;
    width: 300px;
    color: #6d4c96;
    display: block;
    clear: both;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    text-align: center;
}

.forgot-password-email-field {
    outline: none;
}

.forgot-password-container button {
    color: white;
    background-color: #6d4c96;
}

input::placeholder {
    color: #6d4c96;
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6d4c96;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6d4c96;
}

@media only screen and (min-width: 280px) and (max-width: 329px) {
    .forgot-password-email-field, .forgot-password-container button {
        width: 200px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 399px) {
    .forgot-password-email-field, .forgot-password-container button {
        width: 250px;
    }
}

/*footer*/

footer {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #6d4c96;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*Dashboard*/

.account-summary-hr {
    border: 3px solid #cdc2db;
    margin: 5px 0 15px 0;
}

.group-name-counts {
    display: flex;
    color: black;
    font-size: small;
}

.group-name-title {
    color: #cdc2db;
}

.drivers-count, .children-count, .parents-count {
    margin: 0 8px;
}

.group-name-container {
    padding-bottom: 20px;
    cursor: pointer;
    width: fit-content;
}

.group-name-title, .account-summary-title {
    font-weight: 500;
}

@media only screen and (max-width: 992px) {
    .container-recent-history-div .recent-history-container, .container-recent-history-div .capsule {
        margin-top: 35px;
    }
    .school-container {
        display: block;
    }
}

/* Loader */

.loadingContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

/* Sign Up */

.school-admin-portal .sign-up-capsule input {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    color: #6d4c96;
    background-color: #f2f2f2;
    text-align: center;
    outline: none;
}

.school-admin-portal .sign-up-capsule input[readonly] {
    background-color: #f2f2f2 !important;
}

.school-admin-portal .sign-up-capsule button, .school-admin-portal .sign-up-capsule [type="button"] {
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    background-color: #6d4c96;
    text-align: center;
    outline: none;
    width: 100%;
}

.school-admin-portal .sign-up-capsule label, .school-admin-portal .sign-up-capsule small {
    font-weight: 500;
}

.school-admin-portal .sign-up-capsule small {
    font-size: 12px;
}

.school-admin-portal .sign-up-capsule input[type="checkbox"] {
    border: 8px solid #6d4c96;
}

@media only screen and (min-width: 280px) and (max-width: 576px) {
    .school-admin-portal .sign-up-capsule .mb-xs-3 {
        margin-bottom: 1.5rem!important;
    }
}

.school-admin-portal .sign-up-capsule label {
    font-size: 20px;
}

.nav-container {
    position: relative
}

.login-page .school-container {
    max-width: 1200px;
}

.school-container {
    max-width: 85%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carpool-logo {
    position: absolute;
    top: -6px;
    z-index: 1000;
}

.custom-dropdown>div {
    border: 0px;
    border-radius: 15px;
    padding: 5px;
    color: #6d4c96;
    background-color: #f2f2f2;
}

.custom-dropdown .css-1okebmr-indicatorSeparator, .custom-dropdown .css-tlfecz-indicatorContainer {
    display: none
}

.custom-dropdown>div:hover {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    border: 0px;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%236d4c96' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}

@media only screen and (min-width: 960px) {
    .nav-menu {
        width: 100%;
        justify-content: flex-end;
    }
    .nav-menu a:last-child {
        margin-right: 0
    }
}

/* Terms of Service */

.school-admin-portal.terms-service-capsule {
    text-align: unset !important;
    color: #3c3c3c;
    margin-bottom: 150px !important;
}

.school-admin-portal.terms-service-capsule .terms-service-title {
    color: #6d4c96;
    margin-bottom: 1.5rem;
}

.school-admin-portal.terms-service-capsule button {
    color: white;
    background-color: #6d4c96;
    border: 1px;
    border-radius: 15px;
    width: 150px;
    padding: 10px;
}

.school-admin-portal.terms-service-capsule p {
    margin-bottom: 1.5rem !important;
}

@media only screen and (min-width: 280px) and (max-width: 399px) {
    .school-admin-portal.terms-service-capsule {
        padding: 30px 20px 30px 20px;
        max-width: 85%;
        margin: 0 auto;
    }
}