.ride-container{
    border: 2px solid #dad1d1;
    color: #6d4c96;
    max-width: 700px;
    margin-top: 9%;
    padding: 20px;
    width: 85%;
    font-size: 18px;
}

.ride-title{
    color: red;
    margin-bottom: 20px;
}

.parent-driver-info, .ride-recent-history {
    display: flex;
}

.ride-recent-history {
    padding-bottom: 100px;
}

.upcoming-date-time {
    font-weight: 500;
    color: black;
}

.parent-driver-details {
    align-self: center;
}

.down-arrow-symbol {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #cdc2db;
}

.parent-driver-child-info-ctn {
    border-left: 3px solid #cdc2db;
    margin: 5px 0px 0px 8px;
}

