.contact-support{
    color: black;
}

.contact-support .form-input-width{
    max-width: 300px;
}

.contact-support .form-textarea-width{
    max-width: 450px;
}

.contact-support .form-input-width input, .contact-support .form-textarea-width textarea {
    border-radius: 10px;
}


.contact-support button[type="submit"] {
    color: white;
    background-color: #6d4c96;
    border-radius: 15px;
    width: 150px;
}