.parent-profile {
    color: #5e5e5e;
    padding: 30px;
}

.parent-profile .parent-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
}

.parent-profile .parent-profile-pic {
    padding: 0px 0px 30px 20px;
}

.parent-profile-pic button {
    border: 1px solid #5e5e5e;
    border-radius: 8px;
    font-weight: bold;
    background-color: #efefef;
    color: black;
}

.parent-profile input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.parent-profile input::placeholder {
    color: #5e5e5e;
    opacity: 1;
    /* Firefox */
}

.parent-profile input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #5e5e5e;
}

.parent-profile input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #5e5e5e;
}

.parent-profile .driver-status {
    display: flex;
    padding-bottom: 20px;
    align-items: flex-end;
}

.parent-profile .driver-status .active-btn, .driver-status .non-active-btn {
    border: 1px solid #5e5e5e;
    border-radius: 8px;
    color: white;
    background-color: #22d500;
}

.parent-profile .driver-status .active-btn {
    margin-right: 70px;
}

.parent-profile .driver-status .non-active-btn {
    width: 150px;
    background-color: #d55500;
}

.parent-profile .driver-status .driver-status-title {
    margin-right: 30px;
}

.parent-profile .driver-status .driver-status-note {
    color: red;
    display: block;
    padding-bottom: 10px;
}

.parent-profile .driver-status .non-driver {
    margin-top: -35px;
}

.parent-profile .parent-email {
    padding-bottom: 30px;
}

.parent-profile .parent-info-title {
    color: #6d4c96;
    font-weight: bold;
    border-bottom: 2px solid;
    font-size: 20px;
    padding-bottom: 5px;
}

.parent-profile .parent-info form {
    padding-top: 15px;
}

.parent-profile .view-drivers-license-btn, .parent-profile .registered-vehicles-container .view-vehicle-registration-btn, .parent-profile .registered-vehicles-container .view-vehicle-inspection-report-btn {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: 3px solid #a08ef0;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
}

.registered-vehicles-container .registered-vehicles-title {
    color: #cf4a79;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    font-weight: bold;
}

.parent-profile .view-vehicle-registration-btn {
    display: block;
}

.parent-profile .registered-vehicles-container .registered-vehicles-nav {
    display: flex;
    padding: 25px 0;
}

.parent-profile .btn-primary:hover {
    color: #6d4c96 !important;
    background-color: #efeeff !important;
    border-color: #efeeff !important;
}

.parent-profile .registered-vehicles-current-index {
    padding: 0 30px;
    align-self: center;
    font-weight: bold;
}

.parent-profile .registered-vehicles-left-arrow, .parent-profile .registered-vehicles-right-arrow {
    border: 1px;
    border-radius: 50%;
    background-color: #efeeff;
    color: #6d4c96;
    font-weight: 800;
}

.parent-profile .registered-vehicles-form .form-input-width {
    display: block;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
    max-width: 350px;
}

@media only screen and (min-width: 280px) and (max-width: 300px) {
    .parent-driver-info, .ride-recent-history {
        display: block;
    }
}

.parent-profile .driver-status-btn-ctrls {
    display: flex;
    align-items: flex-end;
}

@media only screen and (min-width: 280px) and (max-width: 379px) {
    .parent-profile .driver-status, .parent-profile .driver-status-btn-ctrls {
        display: block;
    }
    .parent-profile .driver-status .non-driver {
        margin-top: unset;
    }
    .parent-profile .driver-status .active-btn {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 500px) {
    .parent-profile .driver-status {
        display: block;
    }
    .parent-profile .driver-status .non-driver {
        margin-top: unset;
    }
}